.playback-overlay__container,
.playback-rating-overlay__container,
.playback-header__container {
  background: none !important;
}

.playback-header__container,
.playback-overlay__container-upper-controls,
.playback-controls__container {
  transform: scale(0.75) !important;
}

.playback-metadata__container-title {
  font-size: 2rem !important;
}

.playback-metadata__container {
  margin-bottom: 0 !important;
}
